@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;600;700;800;900&display=fallback");


.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
    &:focus {
        box-shadow: none !important;
    }
}

// Hamburger button
.hamburger {
    svg > * {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            transform-origin: center;
            transform: rotate(0deg);
        }

        &:nth-child(1) {
            transition: y 0.075s 0.12s ease, opacity 0.075s ease,
                transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }

        &:nth-child(2) {
            transition-property: transform;
            transition-duration: 0.075s;
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }

        &:nth-child(3) {
            transition: y 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    }

    &.active {
        svg > * {
            &:nth-child(1) {
                opacity: 0;
                transform: rotate(45deg);
                y: 11;
                transition: y 0.075s ease, opacity 0.075s 0.12s ease,
                    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
            }

            &:nth-child(2) {
                transform: rotate(45deg);
                transition-delay: 0.12s;
                transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            }

            &:nth-child(3) {
                y: 11;
                transform: rotate(-45deg);
                transition: y 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
        }
    }
}


// Tags animation
$tags-animation-duration: 30000ms;

.tags-animation {
    animation: tagsmove $tags-animation-duration linear infinite;
}

.tags-1 {
    animation-delay: $tags-animation-duration * -0.1; // -0.1 will make the tag move 76px right (i.e. 768px container size * -0.1)
}

.tags-2 {
    animation-delay: $tags-animation-duration * -0.16;
}

.tags-3 {
    animation-delay: $tags-animation-duration * -0.23;
}

.tags-4 {
    animation-delay: $tags-animation-duration * -0.27;
}

.tags-5 {
    animation-delay: $tags-animation-duration * -0.44;
}

.tags-6 {
    animation-delay: $tags-animation-duration * -0.55;
}

.tags-7 {
    animation-delay: $tags-animation-duration * -0.63;
}

.tags-8 {
    animation-delay: $tags-animation-duration * -0.73;
}

.tags-9 {
    animation-delay: $tags-animation-duration * -0.76;
}

.tags-10 {
    animation-delay: $tags-animation-duration * -0.8;
}

@keyframes tagsmove {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(768px);
    }
}


// Typography
.h1 {
    @apply text-4xl font-extrabold tracking-tighter;
}

.h2 {
    @apply text-3xl font-extrabold tracking-tighter;
}

.h3 {
    @apply text-3xl font-extrabold;
}

.h4 {
    @apply text-2xl font-extrabold tracking-tight;
}

@screen md {
    .h1 {
        @apply text-5xl;
    }

    .h2 {
        @apply text-4xl;
    }
}

// Buttons
.btn,
.btn-sm {
    @apply font-medium inline-flex items-center justify-center border border-transparent rounded leading-snug transition duration-150 ease-in-out;
}

.btn {
    @apply px-8 py-3;
}

.btn-sm {
    @apply px-4 py-2;
}

// Forms
.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
    @apply bg-white border border-gray-300 focus:border-gray-400;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
    @apply rounded;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
    @apply leading-snug py-3 px-4;
}

.form-input,
.form-textarea {
    @apply placeholder-gray-500;
}

.form-select {
    @apply pr-10;
}

.dark {
    .h4 {
        @apply font-bold;
    }

    .form-input,
    .form-textarea,
    .form-multiselect,
    .form-select,
    .form-checkbox,
    .form-radio {
        @apply bg-gray-800 border border-gray-600 focus:border-gray-500;
    }

    .form-input,
    .form-textarea {
        @apply placeholder-gray-400;
    }
}

// Switch element
.form-switch {
    @apply relative select-none;
    width: 44px;

    label {
        @apply block overflow-hidden cursor-pointer h-6 rounded-full;

        > span:first-child {
            @apply absolute block rounded-full;
            width: 20px;
            height: 20px;
            top: 2px;
            left: 2px;
            right: 50%;
            transition: all 0.15s ease-out;
        }
    }
}

// Range slider
$range-thumb-size: 36px;

input[type="range"] {
    appearance: none;
    background: #ccc;
    border-radius: 3px;
    height: 6px;
    margin-top: ($range-thumb-size - 6px) / 2;
    margin-bottom: ($range-thumb-size - 6px) / 2;
    --thumb-size: #{$range-thumb-size};

    &::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
        background-color: #000;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 .5v7L12 4zM0 4l4 3.5v-7z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        height: $range-thumb-size;
        width: $range-thumb-size;
    }

    &::-moz-range-thumb {
        background-color: #000;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 .5v7L12 4zM0 4l4 3.5v-7z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        border: 0;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        height: $range-thumb-size;
        width: $range-thumb-size;
    }

    &::-ms-thumb {
        background-color: #000;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 .5v7L12 4zM0 4l4 3.5v-7z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        height: $range-thumb-size;
        width: $range-thumb-size;
    }

    &::-moz-focus-outer {
        border: 0;
    }
}

.form-switch {
    input[type="checkbox"].light-switch {
        + label {
            @apply bg-gray-500;

            > span:first-child {
                .dark & {
                    left: 22px;
                }
            }
        }
    }
}

// Custom Swiper styles
.carousel {
    &.swiper-container {
        @apply overflow-visible;
    }

    .swiper-slide {
        img {
            opacity: 0.32;
        }

        > div > div {
            @apply opacity-0;
        }

        &.swiper-slide-active,
        &.swiper-slide-duplicate-active {
            @apply shadow-2xl;

            img {
                @apply opacity-100;
            }

            > div > div {
                @apply opacity-100;
            }
        }
    }
}

// Range slider
$range-thumb-size: 36px;

input[type="range"] {
    appearance: none;
    background: #ccc;
    border-radius: 3px;
    height: 6px;
    margin-top: ($range-thumb-size - 6px) / 2;
    margin-bottom: ($range-thumb-size - 6px) / 2;
    --thumb-size: #{$range-thumb-size};

    &::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
        background-color: #000;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 .5v7L12 4zM0 4l4 3.5v-7z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        height: $range-thumb-size;
        width: $range-thumb-size;
    }

    &::-moz-range-thumb {
        background-color: #000;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 .5v7L12 4zM0 4l4 3.5v-7z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        border: 0;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        height: $range-thumb-size;
        width: $range-thumb-size;
    }

    &::-ms-thumb {
        background-color: #000;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 .5v7L12 4zM0 4l4 3.5v-7z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        height: $range-thumb-size;
        width: $range-thumb-size;
    }

    &::-moz-focus-outer {
        border: 0;
    }

    [class*="illustration-"] {
        position: relative;

        &::after {
            pointer-events: none;
        }
    }

    [class*="illustration-element-"]::after {
        z-index: -1;
    }

    [class*="illustration-section-"]::after {
        z-index: -2;
    }
}

// Custom AOS animations
[data-aos="zoom-y-out"] {
    transform: scaleX(1.03);
    opacity: 0;
    transition-property: transform, opacity;
}
